.well
  %h2= @dipendente.nome
  %p
    = @dipendente.ruolo
  %hr
  
  = link_to edit_dipendente_path(@dipendente), class: 'btn btn-success' do
    %i.icon-pencil
    Modifica
  = link_to dipendenti_path, class: 'btn btn-sss' do
    %i.icon-user
    tutto lo Staff
  = link_to @dipendente, :confirm => 'Sei sicuro?', :method => :delete, class: "btn btn-danger" do
    %i.icon-minus
    Elimina

