= simple_form_for @pagamento, :html => {:class => 'form-horizontal' } do |f|
  = f.hidden_field :serata_id
  = f.hidden_field :dipendente_id
  
  = f.input :importo

  .control-group
    .controls
      = f.button :submit, 'Salva', class: "btn btn-primary btn-large"


