.pull-right
  = link_to new_serata_path, class: "btn btn-primary" do
    %i.icon-plus
    Nuova serata


%h2 Serate

%table.table
  %thead
    %tr
      %th Titolo
      %th Data
      %th
  %tbody
    - @serate.each do |serata|
      %tr
        %td= link_to serata.titolo, serata
        %td= serata.data
        %td
          .pull-right
            = link_to edit_serata_path(serata), class: "btn btn-success" do
              %i.icon-pencil
            = link_to serata, :confirm => 'Sei sicuro?', :method => :delete, class: "btn btn-danger" do
              %i.icon-minus

