/ encoding: utf-8

.well
  .pull-right
    = link_to serate_path, class: 'btn' do
      tutte
      
  %h2= @serata.titolo
  %p
    = @serata.data
  %p
    .badge
      = pretty_prezzo @staff.sum(:importo)
  %hr
  

  = form_for @serata, html: { method: 'put', class: "crea-staff"} do |f|
    = f.hidden_field :crea_staff, value: true
    = f.submit "Crea Staff", class: 'btn btn-fullsize'


= render 'staff'