/ encoding: utf-8

.well
  .pull-right
    = link_to new_dipendente_path, class: 'btn btn-primary' do
      %i.icon-plus
      baggiano
      
  %h2
    = @serata.titolo
    %small= @serata.data
  
  %p
    %span.badge
      = pretty_prezzo @staff.sum(:importo)

%h2 
  Baggiani da pagare
  %span.badge
    = @non_pagato.size
%table.table
  - for p in @non_pagato do
    %tr
      %td= p.ruolo.nome
      %td= p.nome
      %td
        .pull-right
          = link_to "paga", new_pagamento_path(serata: @serata, dipendente: p), class: 'btn btn-success'

%h2 
  Baggiani pagati
  %span.badge
    = @pagato.size
    
%table.table.pagamenti
  - for s in @pagato do
    %tr
      %td= s.dipendente.ruolo.nome
      %td= s.dipendente.nome
      %td
        .pull-right
          = pretty_prezzo s.importo
      %td
        .pull-right
          = link_to s, :method => :delete, class: "btn btn-danger" do
            %i.icon-minus 


/ = render 'staff'