/ encoding: utf-8

.well
  .pull-right
    = link_to serate_path, class: 'btn' do
      tutte
      
  %h2= @serata.titolo
  %p
    = @serata.data
  %p
    .badge
      = pretty_prezzo @staff.sum(:importo)
  %hr
  
  = form_for @serata, html: { method: 'put', class: "crea-staff"} do |f|
    = f.hidden_field :crea_staff, value: true
    = f.submit "Aggiorna Staff", class: 'btn btn-fullsize'

  
%h2 Baggiani da pagare
%table.table.pagamenti{style: "width: 100%"}
  - for p in @serata.pagamenti.non_pagato do
    %tr
      %td= p.dipendente.ruolo.nome
      %td= p.dipendente.nome
      %td= link_to "paga", new_pagamento_path(serata: @serata, dipendente: p.dipendente), class: 'btn btn-success'

%h2 Baggiani pagati
%table.table.pagamenti
  - for p in @serata.pagamenti.pagato do
    %tr
      %td= p.dipendente.ruolo.nome
      %td= p.dipendente.nome
      %td= pretty_prezzo p.importo
      %td
        = link_to p, :method => :delete, class: "btn btn-danger" do
          %i.icon-minus 


/ = render 'staff'