!!! 5
%html
  %head
    %title= yield :title || "Untitled"
    
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag    "application"

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    
    = render 'layouts/header'
      
    .container.page
      - flash.each do |name, msg|
        = content_tag(:div, raw(msg), :id => "flash_#{name}")
      = yield
  
    .footer
    


